<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'bitStudentPage' %}">
        <div class="sidebar-brand-text mx-1">Enrollment System - BIT</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'bitStudentPage' %}">
            <img class="img-profile rounded-circle profile-pic img-fluid" src="{{request.user.profile_pic.url}}" >
            <span>My Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
      <a class="nav-link" href="{% url 'displayBitStudentInfo' %}">
          <i class="fa fa-edit"></i>
          <span>View Personal Information</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'bitStudentUpdateInfo' user.id%}">
            <i class="fa fa-edit"></i>
            <span>Update Personal Information</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-file-alt"></i>
          <span>Prospectos ( Subject Guide Only )</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <h4 class="collapse-header">BSIT Prospectus:</h4>
              <a class="collapse-item" href="bs1.html">1st year</a>
              <a class="collapse-item" href="bs2.html">2nd year</a>
              <a class="collapse-item" href="bs3.html">3rd year</a>
              <a class="collapse-item" href="bs4.html">4th year</a>
              <h4 class="collapse-header">BIT-CT Prospectus:</h4>
              <a class="collapse-item" href="bt1.html">1st year</a>
              <a class="collapse-item" href="bt2.html">2nd year</a>
              <a class="collapse-item" href="bt3.html">3rd year</a>
              <a class="collapse-item" href="bt4.html">4th year</a>
          </div>
      </div>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'studentSubjectForm1' %}">
            <i class="far fa-file-alt"></i>
            <span>Subject Form</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-layer-group"></i>
            <span>Requirements</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="far fa-eye"></i>
            <span>Grades</span></a>
    </li>

    <!-- Nav Item - Track -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fa fa-spinner"></i>
            <span>Track Enrollment Progress</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-circle-notch fa-spin"></i>
            <span>Changing, Adding, Withdrawal & Dropping of Subjects</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->