<!DOCTYPE html>
<html>
	<head>
		<title>CTU-Ginatilan</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
        {% include 'enrollment/base/student/css.html' %}
	</head>
	<body >
		{% block content %}
            
		{% endblock %}
	</body>

	{% include 'enrollment/base/student/js.html' %}
</html>