{%  extends 'enrollment/student/new/template.html' %}
{% load static %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="card image fluid" style="width: 1100rem;">
                <img src="{% static 'images/base_image/logs.jpeg' %}">
                <div class="card text-center">
                    <div class="card-header">
                        <h5><b>VIEW PERSONAL INFORMATION</b></h5>
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col align-self-start">
                    <h4><b>STUDENT PERSONAL DATA:</b></h4>
                    <br>
                </div>
                <div class="col align-self-last">
                    {{date_created}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepe" id="inputGroup-sizing-default">Last Name:  
                                {{user.last_name}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepe" id="inputGroup-sizing-default">First Name: 
                                {{user.first_name}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepe" id="inputGroup-sizing-default">Middle Name: 
                                {{user.middle_name}}
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Address: 
                                        {{user.address}}
                                </div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Mobile Number: 
                                        {{user.mobile_num}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Congressional District: 
                                        {{user.congressional_district}}
                                </div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Email: 
                                        {{user.email}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Gender: 
                                        {{user.gender}}
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Birth Place: 
                                        {{user.birth_place}}
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Birth Date: 
                                        {{user.birth_date}}
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Age: 
                                        {{user.age}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Citizenship: 
                                        {{user.citizenship}}
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Religion: 
                                        {{user.religion}}
                                </div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"" id="inputGroup-sizing-default">Civil Status: 
                                            {{user.civil_status}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Father's Name: 
                                        {{user.father_name}}
                                </div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Father's Occupation: 
                                        {{user.father_occupation}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Mother's Name: 
                                        {{user.mother_name}}
                                </div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Mother's Occupation: 
                                        {{user.mother_occupation}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Guardian's Name: 
                                        {{user.guardian_name}}
                                </div>
                            </div>
                        </td>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Guardian Phone Number: 
                                        {{user.guardian_phone_number}} 
                                    
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p class="text-start">Educational Background:</p>
                        </td>
                        <td colspan="2">
                            <p class="text-center">Academic Year:</p>
                        </td>
                        <td colspan="2">
                            <p class="text-center">Honors Received:</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">Elementary: 
                                        {{user.elementary}}
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            {{user.elementary_academic_year}}

                        </td>
                        <td colspan="2">
                            {{user.elementary_honors_received}}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">High School: 
                                        {{ user.high_school }}
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            {{user.high_school_academic_year }}

                        </td>
                        <td colspan="2">
                            {{user.high_school_honors_received }}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend" id="inputGroup-sizing-default">College: 
                                        {{user.college }}
                                </div>
                            </div>
                        </td>
                        <td colspan="2">
                            {{user.college_academic_year}}

                        </td>
                        <td colspan="2">
                            {{user.college_honors_received}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </form> 
</div>

{{form.errors}}

{% endblock content %}